
<h1>時間</h1>

<div class="contents">



</div>

<%# <div action = "/aaa" class="btn" method = "post">
  <input type="button" value = "ボタン">
</div> %>

<form action="/a" method="get" class="action">
  <input type="submit" value = "ボタン">
</form>
